<div class="container">
    <div class="loadingScreen" ng-show="loading"></div>
    <div class="alert infoBox" ng-show="beginning">{{beginningText}}</div>

    <ul id="contentList">
        <li ng-repeat="item in list">
            <a href="javascript:void(0);" ng-click="openPage(item.channel.url)">
                <img src="{{ item.preview.small }}" alt="" class="channelImage" />
                
                <div class="rightSide">
                    <h1>{{ item.channel.status.substring(0,35) | limitTo: 35}}</h1>

                    <h2>{{ item.channel.display_name + ' - ' + item.viewers + ' ' + viewersText }}</h2>
                    <h2>{{ playingText + ' ' + item.game }}</h2>
                </div>

                <div class="clear"></div>
            </a>
        </li>
    </ul>
</div>