<div class="container">
    <div ng-hide="loggedIn">
        <div class="alert warningBox">{{ locale.logMsg }}</div>
        <button class="button" ng-click="loadLoginPage()" type="button">{{ locale.logInOut }}</button>
        <br />
    </div>

    <div ng-show="loggedIn">
        <div class="alert successBox">
            {{ locale.logMsg + ' ' + result }}
        </div>
        <button class="button" ng-click="logOut()" type="button">{{ locale.logInOut }}</button>

        <div class="clear"></div>
        <button class="button" ng-click="refreshFollowings()" type="button">{{ locale.refreshBtn }}</button>
        <div class="clear"></div>
        <div class="alert infoBox">{{ locale.refreshMsg }}</div>
    </div>

    <div class="settingsContent">
        <div class="setting">
            <div class="checkbox">
                <input id="notification" type="checkbox" ng-model="locale.notification" ng-change="change('notification')" />
                <label for="notification">{{ locale.showNotifications }}</label>

                <input id="notifySound" type="checkbox" ng-model="locale.notifySound" ng-change="change('notifySound')" />
                <label for="notifySound">{{ locale.playSound }}</label>

                <div class="clear"></div>
            </div>
        </div>

        <div class="setting">
            {{ locale.openStreams }}
            <div class="radio">
                <input id="open1" type="radio" ng-model="locale.open" value="1" ng-change="change('open')" />
                <label for="open1">{{ locale.newTab }}</label>

                <input id="open2" type="radio" ng-model="locale.open" value="2" ng-change="change('open')" />
                <label for="open2">{{ locale.newWindow }}</label>


                <input id="open3" type="radio" ng-model="locale.open" value="3" ng-change="change('open')" />
                <label for="open3">{{ locale.popout }}</label>

                <div class="clear"></div>
            </div>
        </div>

        <div class="setting">
            {{ locale.notificationSound }}
            <div class="radio">
                <input id="sound1" type="radio" ng-model="locale.notifySoundRing" value="Chord.mp3" ng-change="change('notifySoundRing')" />
                <label for="sound1">Chord</label>

                <input id="sound2" type="radio" ng-model="locale.notifySoundRing" value="Ring.mp3" ng-change="change('notifySoundRing')" />
                <label for="sound2">Ring</label>

                <input id="sound3" type="radio" ng-model="locale.notifySoundRing" value="Aurora.mp3" ng-change="change('notifySoundRing')" />
                <label for="sound3">Aurora</label>

                <input id="sound4" type="radio" ng-model="locale.notifySoundRing" value="Circles.mp3" ng-change="change('notifySoundRing')" />
                <label for="sound4">Circles</label>

                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="alert infoBox">
        <div>{{ locale.help }}</div>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="GD324N9HBY3PU" />
            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online." />
            <img alt="" border="0" src="https://www.paypalobjects.com/tr_TR/i/scr/pixel.gif" width="1" height="1" />
        </form>
        
        <div>{{ locale.createdBy }}</div>
    </div>
</div>